@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&family=Nanum+Gothic+Coding&family=Noto+Sans+KR&family=Black+Han+Sans&display=swap');

* {
    font-family: 'Noto Serif KR', sans-serif;
}

div#main-content div.section h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
}

div#main-content div.section h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}

div#main-content div.section h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

h1#site-title {
    font-family: 'Black Sans Sans', sans-serif;
}

nav.bd-links a.reference internal{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

div.docutils.container pre span {
    font-family: menlo, consolas, 'DejaVu Sans Mono', 'Nanum Gothic Coding', monospace;
}

div.highlight pre span {
    font-family: menlo, consolas, 'DejaVu Sans Mono', 'Nanum Gothic Coding', monospace;
}

div.docutils.container div.output table th {
    font-family: menlo, consolas, 'DejaVu Sans Mono', 'Nanum Gothic Coding', monospace;
}

div.docutils.container div.output table td {
    font-family: menlo, consolas, 'DejaVu Sans Mono', 'Nanum Gothic Coding', monospace;
}

code.docutils span.pre {
    font-family: menlo, consolas, 'DejaVu Sans Mono', 'Nanum Gothic Coding', monospace;
} 